.id {
  min-width: 100px;
  max-width: 100px;
}

.roleVersion {
  min-width: 260px;
  max-width: 260px;
}

.staffingVersion {
  min-width: 260px;
  max-width: 260px;
}

.certificatesVersion {
  min-width: 260px;
  max-width: 260px;
}

.screenshot {
  min-width: 120px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fechaImportacion {
  min-width: 215px;
  max-width: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion {
  min-width: 240px;
  max-width: 240px;
}

.usuario {
  min-width: 200px;
  max-width: 200px;
}

.fechaModificacion {
  min-width: 225px;
  max-width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comentarios {
  min-width: 310px;
  display: flex;
}

/* Clases adicionales  */
.parents {
  min-width: 140px;
  max-width: 200px;
}

.center {
  min-width: 115px;
  max-width: 115px;
}

.buttons {
  min-width: 80px;
  max-width: 80px;
}

.p-button.p-button-icon-only.p-button-rounded {
  width: 2rem;
  height: 2rem;
}
