<div class="container overflow-auto h-full">
  <div class="header">
    <h2 class="title">Lista de Actividades</h2>
    <p-toast></p-toast>
  </div>

  <div class="form flex flex-column gap-2 h-full">
    <div class="flex justify-center gap-2">

      <div
      class="flex w-9rem h-2rem gap-2 border-round-2xl align-items-center mt-3"
      style="background-color: #e7edef"
      >
        <div class="pl-3">
          <i class="pi pi-user text-xl text-primary"></i>
        </div>
        <div class="flex flex-row align-items-center gap-1 text-sm">
          <p>{{ totalActivities }}</p>
          Actividades
        </div>
      </div>
      <fieldset class="info-fieldset">
        <legend class="info-legend">GGID</legend>
        <div class="info-value">{{ person.ggid }}</div>
      </fieldset>

      <fieldset class="info-fieldset">
        <legend class="info-legend">Nombre</legend>
        <div class="info-value">{{ person.nombre }}</div>
      </fieldset>

      <fieldset class="info-fieldset">
        <legend class="info-legend">Apellidos</legend>
        <div class="info-value">{{ person.apellidos }}</div>
      </fieldset>
      <div class="flex-1"></div>
      <button
        #b
        pButton
        label="Crear Actividad"
        type="button"
        class="p-button p-button-outlined m-2"
        title="Crear Actividad"
        (click)="createActivity(person)"
      ></button>
    </div>

    <!-- Verificador de actividades -->
    <div
      *ngIf="activities.length === 0"
      class="no-activities-message h-[250px]"
    >
      <h3>No hay actividades disponibles</h3>
    </div>

    <!-- Listado de actividades -->
    <div
      *ngIf="activities.length > 0"
      class="card"
      style="overflow: auto"
    >
      <p-table
        [scrollable]="true"
        scrollHeight="flex"
        selectionMode="single"
        [value]="activities"
        styleClass="p-datatable-striped"
        [paginator]="false"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        [columns]="columnNames"
        [reorderableColumns]="true"
      >
        <ng-template pTemplate="header" let-columns>
          <tr class="table-header">
            <!-- Encabezados de las columnas -->
            <th
              *ngFor="let col of columnNames"
              class="{{ col.field }} flex flex-column"
              pReorderableColumn
            >
              <div
                class="flex flex-row w-full top-header"
                pSortableColumn="{{ col.field }}"
              >
                <span class="flex flex-1 justify-content-center">{{
                  col.header
                }}</span>
                <p-sortIcon field="{{ col.field }}"></p-sortIcon>
              </div>

              <div class="w-full foot-header">
                <!-- Filtros para las columnas -->
                <p-columnFilter
                  *ngIf="col.filterType === 'input'"
                  class="w-full"
                  type="text"
                  field="{{ col.composeField }}"
                  [showMenu]="false"
                  [showClearButton]="false"
                  matchMode="contains"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <input
                      tabindex="1"
                      type="text"
                      pInputText
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      class="p-inputtext"
                    />
                  </ng-template>
                </p-columnFilter>
              </div>
              
            </th>
            <th class="buttons flex flex-column" 
            [ngStyle]="{ 
              width: '15rem', 
              flex: '0 0 auto' 
            }">
              <div class="flex flex-row w-full top-header"></div>
              <div class="w-full foot-header"></div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-activity let-columns="columns">
          <!-- Cuerpo de la tabla -->
          <tr [pSelectableRow]="activity">
            <td
              *ngFor="let col of columnNames"
              class="{{ col.field }}"
              [ngClass]="col.field === 'estado' ? getEstadoClass(activity) : ''"
            >
              <ng-container
                *ngIf="
                  col.field !== 'fechaUltimaActividad' &&
                    col.field !== 'fechaInicio' &&
                    col.field !== 'fechaFinalizacion';
                  else dateTemplate
                "
              >
                <div
                  class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
                  [pTooltip]="activity[col.field]"
                >
                  {{
                    col.field === "tipoActividadId"
                      ? getTipoActividadName(activity[col.field])
                      : activity[col.field]
                  }}
                </div>
              </ng-container>
              <ng-template #dateTemplate>
                <div
                  class="white-space-nowrap overflow-hidden text-overflow-ellipsis"
                  [pTooltip]="formatDate(activity[col.field])"
                >
                  {{ formatDate(activity[col.field]) }}
                </div>
              </ng-template>
            </td>
            <!-- Botones de edición y borrado -->
            <td class="buttons" 
            [ngStyle]="{ 
              width: '15rem', 
              flex: '0 0 auto',
              justifyContent: 'center' 
            }">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
                pTooltip="Editar"
                (click)="editActivity(activity.id)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text"
                pTooltip="Eliminar"
                (click)="confirmDeleteActivity(activity.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="flex-1"></div>

    
  </div>
</div>
<p-confirmDialog
  [closable]="false"
  header="Confirmación"
  icon="pi pi-exclamation-triangle"
  #confirmDialog
></p-confirmDialog>
