.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  padding-bottom: 80px; /* Espacio para los botones fijos */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  color: #272936;
  font-size: 20px;
}

.alerta-roja {
  color: red;
}

.alerta-amarilla {
  color: orange
}

.alerta-verde {
  color: forestgreen;
}

.alerta-normal {
  color: black;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #000;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.form {
  width: 100%;
}

.form .p-field {
  margin-bottom: 15px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fixed-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.p-button {
  height: 45px;
  min-width: 100px;
}

.p-field {
  margin-bottom: 15px;
}

.p-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.p-field input,
.p-field p-dropdown {
  width: 100%;
}

.p-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.table-header th {
  height: 36px;
}

/* Column styles */
.codigoActividad {
  min-width: 90px;
  max-width: 90px;
}

.nombreActividad {
  min-width: 300px;
  max-width: 300px;
}

.estado {
  min-width: 100px;
  max-width: 100px;
}

.fechaUltimaActividad {
  min-width: 180px;
  max-width: 180px;
}

.fechaInicio {
  min-width: 150px;
  max-width: 150px;
}

.fechaFinalizacion {
  min-width: 170px;
  max-width: 170px;
}

.porcentajeAvance {
  min-width: 170px;
  max-width: 170px;
}

.observaciones {
  min-width: 200px;
  max-width: 200px;
}

.tipoActividadId {
  min-width: 160px;
}

.p-table thead th {
  text-align: center;
}
