<div class="form flex flex-column gap-3">
  <div class="flex justify-center gap-2">
    <div class="p-field">
      <label for="ggid">GGID:</label>
      <input id="ggid" type="text" pInputText [value]="person.ggid" readonly />
    </div>

    <div class="p-field">
      <label for="saga">Saga:</label>
      <input id="saga" type="text" pInputText [value]="person.saga" readonly />
    </div>

    <div class="p-field">
      <label for="nombre">Nombre:</label>
      <input
        id="nombre"
        type="text"
        pInputText
        [value]="person.nombre"
        readonly
      />
    </div>

    <div class="p-field">
      <label for="apellidos">Apellidos:</label>
      <input
        id="apellidos"
        type="text"
        pInputText
        [value]="person.apellidos"
        readonly
      />
    </div>
  </div>

  <!-- Listado de actividades -->
  <div class="card" style="overflow-x: auto">
    <p-table [value]="activities" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columnNames">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td *ngFor="let col of columnNames">
            {{ activity[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Botones de Cancelar y Guardar -->
  <div class="buttons flex justify-content-end gap-2">
    <button class="cancel-btn p-button p-component" (click)="cancel()">
      Cancelar
    </button>
    <button class="save-btn p-button p-component" (click)="save()">
      Guardar
    </button>
  </div>
</div>
