.id {
  min-width: 100px;
  max-width: 100px;
}

.saga {
  min-width: 140px;
  max-width: 140px;
}

.nombre {
  min-width: 250px;
  max-width: 250px;
}

.apellidos {
  min-width: 350px;
  max-width: 350px;
}

.practica {
  min-width: 150px;
  max-width: 150px;
}

.grado {
  min-width: 150px;
  max-width: 150px;
}

.categoria {
  min-width: 150px;
  max-width: 150px;
}

.perfilTecnico {
  min-width: 200px;
  max-width: 200px;
}

.fechaIncorporacion {
  min-width: 230px;
  max-width: 230px;
}

.asignacion {
  min-width: 150px;
  max-width: 150px;
}

.status {
  min-width: 150px;
  max-width: 150px;
}

.clienteActual {
  min-width: 240px;
  max-width: 240px;
}

.fechaInicioAsignacion {
  min-width: 230px;
  max-width: 230px;
}

.fechaFinAsignacion {
  min-width: 230px;
  max-width: 230px;
}

.fechaDisponibilidad {
  min-width: 230px;
  max-width: 230px;
}

.posicionProyectoFuturo {
  min-width: 330px;
  max-width: 330px;
}

.colaboraciones {
  min-width: 200px;
  max-width: 200px;
}

.proyectoAnterior {
  min-width: 200px;
  max-width: 200px;
}

.ggid {
  min-width: 100px;
  max-width: 100px;
}

.mesesBench {
  min-width: 150px;
  max-width: 150px;
}
