/* Column styles */
.saga {
  min-width: 120px;
  max-width: 120px;
}

.ggid {
  min-width: 120px;
  max-width: 120px;
}

.nombre {
  min-width: 250px;
  max-width: 250px;
}

.apellidos {
  min-width: 330px;
  max-width: 330px;
}

.practica {
  min-width: 150px;
  max-width: 150px;
}

.categoria {
  min-width: 150px;
  max-width: 150px;
}

.centro {
  min-width: 150px;
  max-width: 150px;
}

.rol {
  min-width: 180px;
  max-width: 180px;
}

.perfilTecnico {
  min-width: 160px;
  max-width: 160px;
}

.primarySkill {
  min-width: 200px;
  max-width: 200px;
}

.status {
  min-width: 140px;
  max-width: 140px;
}

.rol {
  min-width: 180px;
  max-width: 180px;
}

.clienteActual {
  min-width: 240px;
  max-width: 240px;
}

.fechaInicioAsignacion {
  min-width: 230px;
  max-width: 230px;
}

.inglesEscrito {
  min-width: 150px;
  max-width: 150px;
}

.inglesHablado {
  min-width: 150px;
  max-width: 150px;
}

.jornada {
  min-width: 150px;
  max-width: 150px;
}

.mesesBench {
  min-width: 150px;
  max-width: auto;
}

/* Additional styles */
.buttons {
  min-width: 80px;
  max-width: 80px;
}

.p-button.p-button-icon-only.p-button-rounded {
  width: 2rem;
  height: 2rem;
}

.mesesBench {
  min-width: 150px;
}

.active {
  min-width: 100px;
  max-width: 100px;
}

.buttons {
  min-width: 80px;
  max-width: 80px;
}

.p-button.p-button-icon-only.p-button-rounded {
  width: 2rem;
  height: 2rem;
}
